In [1]:
import joblib
import pandas as pd

In [2]:
model = joblib.load("model.pkl")

In [3]:
print(f'''
Enter house detils:

1. House size in Square Foot
2. Land size in Perches
3. No of bed rooms
4. No of Bathrooms
5. Suburb no from following list
_____________
''')

df_suburbs = pd.read_csv('suburbs.csv')
for index, row in df_suburbs.iterrows():
    print(f'{index}. {row["suburbs"]}')

Enter house detils:

1. House size in Square Foot
2. Land size in Perches
3. No of bed rooms
4. No of Bathrooms
5. Suburb no from following list
_____________

0. Angoda
1. Athurugiriya
2. Avissawella
3. Battaramulla
4. Boralesgamuwa
5. Colombo 1
6. Colombo 10
7. Colombo 12
8. Colombo 13
9. Colombo 14
10. Colombo 15
11. Colombo 2
12. Colombo 3
13. Colombo 4
14. Colombo 5
15. Colombo 6
16. Colombo 7
17. Colombo 8
18. Colombo 9
19. Dehiwala
20. Godagama
21. Hanwella
22. Homagama
23. Kaduwela
24. Kesbewa
25. Kohuwala
26. Kolonnawa
27. Kottawa
28. Kotte
29. Maharagama
30. Malabe
31. Meegoda
32. Moratuwa
33. Mount Lavinia
34. Nawala
35. Nugegoda
36. Padukka
37. Pannipitiya
38. Piliyandala
39. Rajagiriya
40. Ratmalana
41. Talawatugoda
42. Wellampitiya

In [31]:
# input data



house_size = 1000
land_size = 5
bed_rooms = 1
bath_rooms = 1
suburb_no = 22

In [32]:
df_input = pd.DataFrame(columns = model.feature_names_in_)
df_input.loc[0] = None

if bed_rooms > 10:
    df_input['bedrooms'] = 10
    df_input['is_10_plus_bedrooms'] = 1
else:
    df_input['bedrooms'] = bed_rooms
    df_input['is_10_plus_bedrooms'] = 0

if bath_rooms > 10:
    df_input['bathrooms'] = 10
    df_input['is_10_plus_bathrooms'] = 1
else:
    df_input['bathrooms'] = bath_rooms
    df_input['is_10_plus_bathrooms'] = 0

df_input['house_size'] = house_size
df_input['land_size'] = land_size

column_name = 'suburb_' + df_suburbs.loc[suburb_no, 'suburbs']
if column_name in model.feature_names_in_:
    df_input.loc[0, column_name] = 1

df_input.fillna(0, inplace = True)

df_input

,bedrooms,bathrooms,house_size,land_size,is_10_plus_bedrooms,is_10_plus_bathrooms,suburb_Angoda,suburb_Athurugiriya,suburb_Battaramulla,suburb_Boralesgamuwa,...,suburb_Malabe,suburb_Moratuwa,suburb_Mount Lavinia,suburb_Nawala,suburb_Nugegoda,suburb_Pannipitiya,suburb_Piliyandala,suburb_Rajagiriya,suburb_Ratmalana,suburb_Talawatugoda
0,1,1,1000,5,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
pred_value = model.predict(df_input)[0]
print(f'Rs.{round(pred_value, 2)}')

Rs.33110.0